.list {
  margin-top: 75px;
}

.SampleService {
  margin-top: 50px;
  margin-left: 4px;
  margin-right: 0;
}

.cards {
  margin-left: 15px;
  margin-right: 15px;
}

.Image {
  margin-right: 0;
}

p,
h1,
h5 {
  color: black;
}
