.leadershipHeader {
  padding: 3%;
}

.jumbo-text{
  color: white;
  text-align: center;
}

.jumbotron {
  margin: auto;
  width: 97%;
  height: 250px;
  background-color: black;
}

.winList {
  color: black;
  text-align: center;
}

.photo{
  width: 450px;
  height: 350px;
}

.notable-wins{
  text-align: center;
}


@media screen and (max-width: 1200px) {

  .imageCard{
    margin-bottom: 15px;
  }
  
  .profileCard{
    width: 490px;
  }

  .cardContainer{
    margin-left: 0;
    width: 100% !important;
    max-width: 100% !important
  }

  .leadershipCard{
    width:100% !important;
  }

  .leadershipCardBody{
    padding-left:auto;
    padding-right: auto;
  }

  .cards{
    padding-left: auto;
    padding-right: auto;
    display: block;
  }

}

@media screen and (max-width: 767px) {

  .photo{
    width: auto;
    height: auto;
  }

  .leadershipCardImage{
    width: 100%;
  }

  .leadershipCardInfo {
    width: 100%
  }
  
}

@media screen and (max-width: 414px){
    .leadershipCardBody {
      width: 150%;
      margin-left: -8%;
    }

    .leadershipCardInfo {
      width: 380px;
      margin-left: -8%
    }



    .cards{
      justify-content: left !important;
    }
} 