h1 {
  text-align: center;
}

.contactUsFormContainer{
  margin-left: 10%;
  margin-right: 10%;
}

.contactTitle{
  color:black;
}

.contactCard{
  width: 100% !important;
}

#contact-form {
  padding: 30px
}

.form-group {
  margin-bottom: 15px;
}

.placeholder{
  height: 80%;
  width: 100%;

}

@media screen and (max-width: 950px) {

  .contactCards{
    display: block;
  }

  .imgCard{
    margin-top: 5%;
  }
}
