.overlayHeader {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
  text-shadow: 1px 1px 6px black;
  font-weight: 400;
}

.overlayTagline {
  position: absolute;
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 34px;
  text-shadow: 1px 1px 6px black;
  opacity: 0.8;
  font-weight: 600;
  margin-top: 10px;
}

.learnMore {
  position: absolute;
  top: 72%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  opacity: 0.85;
  color: black;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 400;
  padding: 20px 24px;
  height: 70px;
  width: 250px;
  text-decoration: none;
  margin-top: 15px;
}

.learnMore:hover {
  background-color: #008b8b;
  color: white;
  text-decoration: none;
}

.homeWrapper {
  height: 100%;
}

.Home {
  padding: 20px;
  position: relative;
  text-align: center;
}

.homeContent {
  margin-left: 50px;
  margin-right: 50px;
}

.card {
  border: none;
}

@media screen and (max-width: 800px) {
  .overlayHeader {
    font-size: 30px;
  }

  .overlayTagline {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .learnMore {
    height: 40px;
    width: 140px;
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  .homeContent {
    width: 100%;
  }

  .overlayHeader {
    font-size: 18px;
  }

  .overlayTagline {
    font-size: 15px;
    padding-bottom: 8px;
  }

  .learnMore {
    height: 15px;
    width: 116px;
    font-size: 8px;
    padding-top: 10px;
    padding-bottom: 18px;
  }
}
